#header{
    height: 85px;
}

#header .container-fluid{
    width: 1200px;
}
.navbar-brand{
    width: 200px;
}
.logo-slogan{
    margin-top: 3px;
    display: block;
    height: 20px;
    overflow: hidden;
    font-size: 11px;
    color: #999;
}
.navbar-collapse{
    margin-bottom: 15px;
    margin-top: 15px;
}
.form-control{
    margin-left: 70px;
    width: 520px !important;
}
.coupon-link{
    color: orange !important;
    font-weight:bold;
}
#promotions{
    margin-top: 10px;
}
#promotions div{
    margin-bottom: 20px;
}

#container{
    margin-left: 100px;
    margin-right: 100px;
}

#myCarousel{
    display: inline-block;
    width: 750px;
    height: 400px;
}
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
#homepage-link {
    display: block;
    width: 990px;
    height: 400px;
    padding-bottom: 10px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../img/404_notice.png) no-repeat;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
}
.mod-title {
    width: 990px;
    height: 30px;
    line-height: 30px;
    border-bottom: 3px solid #999;
    margin-bottom: 15px;
}
.mod-title h3 {
    font-size: 16px;
    margin-bottom: 0;
}
.coupon-body{
    width: 990px;
}
.col-main{
    float: right;
    width: 75%;
}
.col-sub{
    float: left;
}
.categories-list{
    width: 240px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.categories-list ul li {
    line-height: 27px;
    text-indent: 10px;
    border-top: 1px solid #ddd;
    margin: -1px 0 0 0;
    list-style-type: none;
}
ul{
    padding: 0px;
}
.categories-list ul li a, .categories-list ul li a:visited {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.coupon-list li {
    position: relative;
    float: left;
    margin: 0 10px 10px 5px;
    _display: inline;
    list-style-type: none;
    width: 230px;
    height: 120px;
    cursor: pointer;
    background: url(../img/coupon-item-bg.png) no-repeat;
}

.coupon-list li .store-img {
    float: left;
    width: 65px;
    padding-left: 5px;
    padding-top: 12px;
    height: 102px;
    overflow: hidden;
    text-align: center;
    margin-right: 10px;
}
.coupon-list li .coupon-info {
    position: relative;
    padding-top: 1px;
    padding-left: 20px;
    float: left;
    width: 136px;
    height: 110px;
}

.coupon-list li .coupon-price em {
    font-size: 24px;
    font-weight: 700;
    color: #bd1a1e;
}
.coupon-list li .store-name {
    font-size: 11px;
    font-weight: 700;
    padding-top: 5px;
    display: block;
    height: 33px;
    line-height: 13px;
    width: 100%;
    overflow: hidden;
}
.coupon-list li a, .coupon-list li a:visited {
    display: block;
    width: 228px;
    height: 110px;
    color: #333;
    cursor: pointer;
}
.coupon-list li .coupon-price, .coupon-list li .coupon-order-price {
    display: block;
    padding-top: 0px;
    font-size: 14px;
}
.coupon-list li .coupon-time {
    position: absolute;
    bottom: 3px;
    left: 20px;
    height: 12px;
    overflow: hidden;
    font-size: 9px;
    color: #999;
}
.coupon-list li .coupon-order-price em {
    font-weight: 700;
    color: #bd1a1e;
}